.Movies {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.Movies > a {
    display: block;
    margin: 0 12px 32px;
    width: 20%;
    float: left;
}

.Movies > a img {
    width: 270px;
    height: 390px;
}
