.flex {
  display: flex;
  &.v-center {
    align-items: center;
  }
  &.h-right {
    justify-content: flex-end;
  }
  &.h-left {
    justify-content: flex-start;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.h-center {
    justify-content: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &-container:after {
    display: block;
    content: '';
    flex: 999 999 auto;
  }
}