h1 {
    color: #27aedb;
}

div.header {
    padding: 20px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.testBlock {
    margin-bottom: 16px;
}
.testBlock > div {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    text-align: center;
    padding: 20px;
}