.Header {
  margin-bottom: 24px;
  padding: 16px;
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  width: 100%;
  display: block;
  padding: 12px 24px;
  font-size: 1em;
  margin-bottom: 16px;
}


body {
  margin: 0;
  padding: 0;
}
